## folders
.venv/
.venv*/
.env/
__pycache__/
.pytest_cache/
.mypy_cache/

# project
INFO/
cookies/
store/

## files
*.pyc
*.log
*.log.zip
*.log.*
test.py
.pre-commit-config.yaml
my_install.sh
.DS_Store

# dotenv
.env
.dev.env
.secrets
.vars
